<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>product submission</title>
</head>
<body>
    <h2>product name</h2>
    <h3> <%= name %></h3>
    <br>
    <h2>product url</h2>
    <h3> <%= url %></h3>
    <br>  
    <h2>product type</h2>
    <h3> <%= type %></h3>
    <br>    
    <h2>product price</h2>
    <h3> <%= price %></h3>  
    <br>  
    <h2>product count</h2>
    <h3> <%= count %></h3>
    <br>
    <h2>product description</h2>
    <h3> <%= Description %></h3>
    <br>
</body>
</html>